@media (min-width: 576px) {
    .menu-btn {
        margin-right: 33px;
    }

    .page-top {
        max-height: 368px;
    }

    .page-top_header h1 {
        font-size: 44px;
    }

    .page-top_header span {
        font-size: 24px;
    }

    .accent-box .row {
        --bs-gutter-x: 20px;
        --bs-gutter-y: 20px;
    }

    .social-links {
        padding: 0;
    }
}

@media (min-width: 768px) {
    .page-top_header h1 {
        font-size: 48px;
    }
    .page-top_header span {
        font-size: 32px;
    }

    .accent-box .row {
        --bs-gutter-x: 30px;
        --bs-gutter-y: 30px;
    }

    .benefits-box {
        padding: 104px 0;
    }

    .benefits-box_item:not(:last-child) {
        margin: 0;
    }

    .subscribe {
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .page-top {
        max-height: 764px;
    }
}
