body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: inherit;
}

.height-100 {
    height: 100%;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

.page-container {
    flex-grow: 1;
}

.header {
    height: 75px;
    background: #222222;
}

.search-btn {
    width: 26px;
    height: 26px;
    background: url("../img/elements/search-btn.svg") center center / contain
        no-repeat;
    margin-left: 41px;
    cursor: pointer;
}

.menu-btn {
    width: 32px;
    height: 23px;
    background: url("../img/elements/menu-btn.svg") center center / contain
        no-repeat;
    cursor: pointer;
}

@media (min-width: 576px) {
    .menu-btn {
        margin-right: 33px;
    }
}

.account-link {
    width: 29px;
    height: 29px;
    background: url("../img/elements/user-ico.svg") center center / contain
        no-repeat;
    margin-right: 33px;
}

.cart-link {
    width: 32px;
    height: 29px;
    background: url("../img/elements/cart-ico.svg") center center / contain
        no-repeat;
    position: relative;
}

.cart-link_count {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    min-height: 20px;
    padding: 0 4px;
    background: #f16d7f;
    color: #fff;
    border-radius: 20px;
    position: absolute;
    top: -10px;
    right: -10px;
}

.main-menu {
    position: fixed;
    top: 75px;
    right: -320px;
    z-index: 200;
    max-width: 232px;
    height: calc(100vh - 75px);
    padding: 34px;
    background: #ffffff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    overflow-y: auto;
    transition: right 0.3s;
}

.main-menu.active {
    right: 0;
}

.main-menu_title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    color: #000000;
    margin-bottom: 24px;
}

.close-btn {
    display: block;
    width: 48px;
    height: 48px;
    background: url("../img/elements/close-btn.svg") center center / 12px
        no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.category-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.category-list_item {
    font-size: 14px;
    margin-bottom: 11px;
    color: #6f6e6e;
}

.category-list_item.title {
    color: #f16d7f;
    margin: 20px 0 12px;
}

.category-list_item a:hover {
    color: #000;
}

.page-top {
    height: calc(100vh - 75px);
    max-height: 764px;
    background: #f1e4e6;
    position: relative;
}

.page-top_img img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 800px;
    max-height: 764px;
    height: 100%;
}

.page-top_header {
    border-left: 12px solid #f16d7f;
    padding-left: 16px;
}

.page-top_header h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    color: #222222;
    margin: 0;
}

.page-top_header span {
    display: inline-block;
    font-weight: 700;
    font-size: 32px;
    color: #222222;
}

.page-top_header i {
    color: #f16d7f;
    font-style: normal;
}
