/* Common */
body {
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
	color: #222222;
}

a {
	text-decoration: none;
	color: inherit;

	&:hover {
		text-decoration: none;
		color: inherit;
	}
}

.page-wrapper {
	display: flex;
	flex-direction: column;
}

.page-container {
	flex-grow: 1;
}

/* Header */
.header {
	background: #fff;

	.top-row {
		height: 100px;
		display: flex;
		align-items: center;
	}
}

.logo {
	display: flex;
	align-items: center;
	text-indent: 10px;
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-style: normal;
	text-transform: uppercase;

	strong {
		color: #f16d7f;
		font-weight: 400;
		text-indent: 0;
	}
}

.search-btn {
	width: 26px;
	height: 26px;
	background: url("../img/elements/search-btn.svg") center center / contain no-repeat;
	margin-left: 41px;
	cursor: pointer;
}

/* Header - main menu */
.lg-main-menu {
	border-top: 1px solid #ececec;
}

.lg-main-menu_list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 680px;
	height: 50px;
	list-style-type: none;
	padding: 0;
	margin: 0 auto;

	.lg-main-menu_list_item {
		a {
			color: #222222;
			font-family: 'Lato', sans-serif;
			font-size: 14px;
			font-weight: 700;
			font-style: normal;
			line-height: 26px;
			text-transform: uppercase;
			transition: color .3s;

			&:hover {
				color: #f16d7f;
			}
		}
	}
}

.menu-btn {
	width: 38px;
	height: 38px;
	background: url("../img/elements/menu-btn.svg") center center /30px no-repeat;
	cursor: pointer;
	margin-left: 33px;
}

/* Header - mobile menu */
.mobile-main-menu {
	position: fixed;
	top: 0;
	right: -320px;
	z-index: 200;
	height: 100vh;
	max-width: 320px;
	padding: 34px;
	background: #ffffff;
	box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
	overflow-y: auto;
	transition: right 0.3s;
}

.mobile-main-menu.active {
	right: 0;
}

.mobile-main-menu_title {
	display: block;
	font-weight: 700;
	font-size: 14px;
	color: #000000;
	margin-bottom: 24px;
}

.close-btn {
	display: block;
	width: 48px;
	height: 48px;
	background: url("../img/elements/close-btn.svg") center center / 12px no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.category-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.category-list_item {
	font-size: 14px;
	margin-bottom: 11px;
	color: #6f6e6e;

	a {
		&:hover {
			color: #000;
		}
	}
}

.category-list_item.title {
	color: #f16d7f;
	margin: 20px 0 12px;
}

.account-menu {
	background-color: #f16d7f;
	height: 38px;
	line-height: 38px;
	color: #fff;
	padding: 0 12px 0 20px;
	margin-left: 26px;
	cursor: pointer;

	>i {
		padding-left: 8px;
	}
}

.cart-link {
	width: 32px;
	height: 29px;
	background: url("../img/elements/cart-ico.svg") center center / contain no-repeat;
	position: relative;
}

.cart-link_count {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 20px;
	min-height: 20px;
	padding: 0 4px;
	background: #f16d7f;
	color: #fff;
	border-radius: 20px;
	position: absolute;
	top: -10px;
	right: -10px;
}

.search-box {
	margin-left: 42px;

	.cat-dropdown_title {
		display: flex;
		align-items: center;
		font-family: Lato, sans-serif;
		font-size: 14px;
		line-height: 38px;
		height: 38px;
		font-weight: 300;
		color: #222222;
		padding-left: 15px;
		border: 1px solid #e6e6e6;
		border-right: none;
		background-color: #cdcdcc;
		background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100);
		border-radius: 3px 0 0 3px;
		cursor: pointer;

		.fa-caret-down {
			font-size: 14px;
			color: #838383;
			padding: 0 8px;
		}
	}

}

.search-cat-dropdown {
	position: relative;

	.cat-dropdown_menu {
		width: 262px;
		background: #fff;
		border: 1px solid #e9e9e9;
		border-radius: 5px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
		padding: 20px 15px;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 99;
		opacity: 0;
		visibility: hidden;
		transition: visibility .3s, opacity .3s;

		&::before {
			content: "";
			display: block;
			border: 7px solid transparent;
			border-bottom: 7px solid #fff;
			position: absolute;
			top: -14px;
			left: 67px;
		}
	}

	&:hover {
		.cat-dropdown_menu {
			opacity: 1;
			visibility: visible;
		}
	}
}

.search-form {
	>input {
		display: block;
		font-family: Lato, sans-serif;
		font-size: 14px;
		line-height: 38px;
		height: 38px;
		width: 320px;
		font-weight: 300;
		padding: 0 38px 0 15px;
		border: 1px solid #e6e6e6;
		border-radius: 0 3px 3px 0;
		background: #fff;
		outline: none;
	}

	position: relative;

	>button {
		height: 38px;
		width: 38px;
		position: absolute;
		top: 0;
		right: 0;
		background: url("../img/elements/search-btn.svg") center center /20px no-repeat;
		opacity: .6;
		border: none;
		border-left: 1px solid #e8e8e8;
		outline: none;
	}
}

/* Main page */
.page-top {
	background: #f1e4e6;
}

.page-top_header {
	border-left: 12px solid #f16d7f;
	padding-left: 16px;

	h1 {
		font-style: normal;
		font-weight: 900;
		font-size: 38px;
		color: #222222;
		margin: 0;
	}

	span {
		display: inline-block;
		font-weight: 700;
		font-size: 20px;
		color: #222222;
	}

	i {
		color: #f16d7f;
		font-style: normal;
	}
}

.accent-box {
	padding-top: 65px;

	.row {
		--bs-gutter-x: 0;
		--bs-gutter-y: 32px;
	}
}

.accent-box_item {
	display: flex;
	position: relative;

	&::after {
		content: "";
		height: 100%;
		width: 100%;
		background: rgba(33, 22, 22, 0.7);
		position: absolute;
		top: 0;
		left: 0;
	}

	.title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		text-transform: uppercase;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;

		>span {
			font-size: 16px;
			text-align: center;
			color: #ffffff;
		}

		>h2 {
			font-weight: 700;
			font-size: 24px;
			text-align: center;
			color: #f16d7f;
		}
	}
}

.featured-box {
	padding: 96px 0;

	.row {
		--bs-gutter-x: 30px;
		--bs-gutter-y: 30px;
	}
}

.product-card_img {
	position: relative;
	cursor: pointer;

	.overlay {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: calc(100% + 2px);
		background: rgba(58, 56, 56, 0.86);
		position: absolute;
		top: 0;
		left: 0;
		transform: scale3d(0, 0, 0);
		transition: transform 0.3s ease;
	}
}

.product-card {
	&:hover {
		.overlay {
			transform: scale3d(1, 1, 1);
		}
	}
}

.product-card_btn {
	font-family: "Lato", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #ffffff;
	border: 1px solid #ffffff;
	background: url("../img/elements/cart-ico.svg") left 13px center / 26px 24px no-repeat, transparent;
	height: 43px;
	line-height: 43px;
	padding: 0 16px 0 50px;
}

.product-card_descr {
	display: flex;
	flex-direction: column;
	padding: 25px 29px 20px 16px;
	background: #f8f8f8;

	.title {
		font-weight: 400;
		font-size: 13px;
		color: #000000;
	}

	p {
		font-weight: 300;
		font-size: 14px;
		color: #5d5d5d;
		padding: 13px 0 18px;
		margin: 0;
	}

	.price {
		color: #f16d7f;
	}
}

.featured-box_title {
	font-size: 30px;
	text-align: center;
	color: #222222;
	margin: 0;
}

.featured-box_subtitle {
	display: block;
	text-align: center;
	font-size: 14px;
	color: #9f9f9f;
	margin-bottom: 48px;
}

.view-all-link {
	margin-top: 48px;
	color: #f26376;
	height: 47px;
	line-height: 47px;
	text-align: center;
	min-width: 211px;
	padding: 0 15px;
	border: 1px solid #ff6a6a;
	position: relative;
	transition: color 0.3s;

	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background: #ff6a6a;
		border-radius: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transform: scale3d(0, 0, 0);
		opacity: 0;
		transition: transform 0.2s ease-in, opacity 0.3s, border-radius 0.3s;
	}

	&:hover {
		color: #fff;

		&::after {
			transform: scale3d(1, 1, 1);
			opacity: 1;
			border-radius: 0;
		}
	}
}

.benefits-box {
	padding: 48px 0 64px;
	background: #222224;
}

.benefits-box_item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	&:not(:last-child) {
		margin-bottom: 48px;
	}

	&::before {
		content: "";
		width: 50px;
		height: 50px;
		margin-bottom: 10px;
	}

	h3 {
		font-size: 20px;
		color: #fbfbfb;
		margin: 0;
	}

	p {
		font-weight: 300;
		font-size: 14px;
		color: #fbfbfb;
		text-align: center;
		margin: 16px 0 0;
	}
}

.benefits-box_item.delivery {
	&::before {
		background: url("../img/elements/delivery-ico.svg") center center no-repeat;
	}
}

.benefits-box_item.sales {
	&::before {
		background: url("../img/elements/sales-ico.svg") center center no-repeat;
	}
}

.benefits-box_item.quality {
	&::before {
		background: url("../img/elements/quality-ico.svg") center center no-repeat;
	}
}

/* Shopping cart */
.page-title-wrapper {
	height: 148px;
	background-color: #f8f3f4;
}

.page-title h1 {
	color: #f16d7f;
	font-family: "Lato", sans-serif;
	font-size: 24px;
	font-weight: 400;
	font-style: normal;
	line-height: 20px;
	text-transform: uppercase;
	margin: 0;
}

.breadcrumbs {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;

	.breadcrumbs_item {
		height: 11px;
		color: #f16d7f;
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		line-height: 20px;
		text-align: center;
		text-transform: uppercase;
		color: #636363;

		a {
			&:after {
				content: " / "
			}
		}

		span {
			color: #f16d7f;
		}
	}
}

.cart-page {
	padding-bottom: 128px;
}

.cart-content {
	margin-top: 96px;
	position: relative;
}

.cart-content_product {
	display: flex;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 400;
	box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
	margin-bottom: 40px;

	.descr {
		list-style-type: none;
		margin: 0;
		padding: 22px 22px 22px 31px;
	}

	.title {
		font-size: 24px;
		line-height: 29px;
		color: #222222;
		max-width: 262px;
		margin-bottom: 42px;
	}

	.param {
		font-size: 22px;
		line-height: 26px;
		color: #575757;
		margin-bottom: 6px;

		.value {
			font-style: normal;
			color: #EF5B70;
		}

		input[type=number] {
			font-size: 18px;
			text-align: center;
			height: 24px;
			line-height: 24px;
			outline: none;
			border: 1px solid #EAEAEA;
			width: 55px;
			padding: 0;
		}
	}
}

.cart-content_btn-wrapper {
	padding-top: 32px;

	button {
		margin-right: 10px;
	}

	button,
	a {
		font-family: 'Lato', sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		font-size: 12px;
		line-height: 50px;
		height: 50px;
		color: #000000;
		text-align: center;
		text-transform: uppercase;
		padding: 0 10px;
		border: 1px solid #A4A4A4;
		background-color: #fff;
		cursor: pointer;
	}
}

.cart-content_form {
	margin-top: 96px;

	.title {
		display: block;
		font-family: 'Lato', sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		color: #222222;
		margin-bottom: 20px;
	}

	.control-row {
		display: flex;
		flex-direction: column;
		font-family: 'Lato', sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 13px;
		color: #222222;
		margin-bottom: 20px;

		input {
			height: 44px;
			line-height: 44px;
			background: #fff;
			outline: none;
			border: 1px solid #A4A4A4;
			padding: 0 16px;

			&::placeholder {
				color: #B1B1B1;
			}

			&:focus {
				color: #222222;
			}
		}

		button {
			font-family: 'Lato', sans-serif;
			font-style: normal;
			font-weight: 300;
			font-size: 16px;
			line-height: 19px;
			color: #FFFFFF;
			text-align: center;
			text-transform: uppercase;
			line-height: 50px;
			width: 100%;
			height: 50px;
			border: none;
			background: #F16D7F;
			padding: 0 15px;
			cursor: pointer;
		}
	}

	.checkout-box {
		font-family: 'Lato', sans-serif;
		font-style: normal;
		padding: 40px 42px 42px;
		background: #F5F3F3;

		.subtotal {
			display: block;
			font-weight: 400;
			font-size: 11px;
			line-height: 13px;
			color: #4A4A4A;
			text-align: right;
			padding-bottom: 12px;
		}

		.value {
			font-style: normal;
			padding-left: 10px;
		}

		.grandtotal {
			display: block;
			font-weight: 300;
			font-size: 16px;
			line-height: 19px;
			color: #222222;
			text-align: right;
			padding-bottom: 21px;
			border-bottom: 1px solid #E2E2E2;
			margin-bottom: 17px;

			.value {
				color: #F16D7F;
			}
		}
	}
}

#quote {
	max-width: 102px;
}

/* Footer */
.footer_main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 448px;
	background: url("../img/elements/subscribe-bg.jpg") center center / cover no-repeat;
	position: relative;

	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(244, 244, 244, 0.7);
		position: absolute;
		top: 0;
		left: 0;
	}
}

.about-us {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-size: 20px;
	max-width: 360px;

	p {
		margin: 30px 0 0;
	}
}

.subscribe {
	position: relative;
	z-index: 1;
	max-width: 356px;
	line-height: 1.65;
	text-align: center;
	color: #222224;
	margin-top: 48px;

	h4 {
		font-weight: 700;
		font-size: 24px;
		margin: 0;
	}

	p {
		font-size: 18px;
		margin: 0 0 32px;
	}

	input {
		display: block;
		font-size: 14px;
		color: #222224;
		opacity: 0.67;
		width: 100%;
		height: 49px;
		line-height: 49px;
		background: #e1e1e1;
		border: 1px solid #e1e1e1;
		outline: none;
		border-radius: 49px;
		padding: 0 122px 0 22px;
	}

	button {
		display: inline-block;
		font-size: 14px;
		text-align: center;
		color: #ffffff;
		width: 100px;
		height: 49px;
		border: 1px solid #f16d7f;
		border-radius: 0 49px 49px 0;
		background: #f16d7f;
		position: absolute;
		top: 0;
		right: 0;
		transition: background-color 0.3s;

		&:hover {
			background: #e05c6e;
		}
	}
}

.input-box {
	position: relative;
}

.footer_bottom {
	display: flex;
	align-items: center;
	min-height: 79px;
	background: #222224;
}

.copyright {
	font-size: 16px;
	color: #fbfbfb;
}

.social-links {
	display: flex;
	padding: 43px 0 40px;
}

.social-links_ico {
	display: flex;
	width: 32px;
	height: 32px;
	background: #fff;
	position: relative;
	transition: background-color 0.3s;

	&:not(:last-child) {
		margin-right: 8px;
	}

	&:hover {
		background: #f16d7f;
	}

	&::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transition: background-color 0.3s;
	}
}

.social-links_ico.fb {
	&::after {
		background: url("../img/elements/facebook.svg") center center no-repeat;
	}

	&:hover {
		&::after {
			background: url("../img/elements/facebook_hover.svg") center center no-repeat;
		}
	}
}

.social-links_ico.inst {
	&::after {
		background: url("../img/elements/instagram.svg") center center no-repeat;
	}

	&:hover {
		&::after {
			background: url("../img/elements/instagram_hover.svg") center center no-repeat;
		}
	}
}

.social-links_ico.pin {
	&::after {
		background: url("../img/elements/pinterest.svg") center center no-repeat;
	}

	&:hover {
		&::after {
			background: url("../img/elements/pinterest_hover.svg") center center no-repeat;
		}
	}
}

.social-links_ico.twit {
	&::after {
		background: url("../img/elements/twitter.svg") center center no-repeat;
	}

	&:hover {
		&::after {
			background: url("../img/elements/twitter_hover.svg") center center no-repeat;
		}
	}
}

@media(max-width: 575px) {
	.page-top {
		display: flex;
		align-items: center;
		height: 375px;
	}
}

@media (min-width: 576px) {
	.page-top_header {
		h1 {
			font-size: 44px;
		}

		span {
			font-size: 24px;
		}
	}

	.accent-box {
		.row {
			--bs-gutter-x: 20px;
			--bs-gutter-y: 20px;
		}
	}

	.social-links {
		padding: 0;
	}
}

@media (min-width: 768px) {
	.page-top_header {
		h1 {
			font-size: 48px;
		}

		span {
			font-size: 32px;
		}
	}

	.accent-box {
		.row {
			--bs-gutter-x: 30px;
			--bs-gutter-y: 30px;
		}
	}

	.benefits-box {
		padding: 104px 0;
	}

	.benefits-box_item {
		&:not(:last-child) {
			margin: 0;
		}
	}

	.subscribe {
		margin-top: 0;
	}

	.cart-content_btn-wrapper {
		button {
			margin-right: 50px;
		}

		button,
		a {
			font-size: 14px;
			padding: 0 40px;
		}
	}
}

@media(min-width: 992px) {
	.cart-content_btn-wrapper {
		button {
			margin: 0;
		}
	}
}