body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.height-100 {
    height: 100%;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

.page-container {
    flex-grow: 1;
}

.header {
    position: sticky;
    top: 0;
    z-index: 200;
    height: 75px;
    background: #222222;
}

.search-btn {
    width: 26px;
    height: 26px;
    background: url("../img/elements/search-btn.svg") center center / contain
        no-repeat;
    margin-left: 41px;
    cursor: pointer;
}

.menu-btn {
    width: 32px;
    height: 23px;
    background: url("../img/elements/menu-btn.svg") center center / contain
        no-repeat;
    cursor: pointer;
}

.account-link {
    width: 29px;
    height: 29px;
    background: url("../img/elements/user-ico.svg") center center / contain
        no-repeat;
    margin-right: 33px;
}

.cart-link {
    width: 32px;
    height: 29px;
    background: url("../img/elements/cart-ico.svg") center center / contain
        no-repeat;
    position: relative;
}

.cart-link_count {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    min-height: 20px;
    padding: 0 4px;
    background: #f16d7f;
    color: #fff;
    border-radius: 20px;
    position: absolute;
    top: -10px;
    right: -10px;
}

.main-menu {
    position: fixed;
    top: 75px;
    right: -320px;
    z-index: 200;
    max-width: 232px;
    height: calc(100vh - 75px);
    padding: 34px;
    background: #ffffff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    overflow-y: auto;
    transition: right 0.3s;
}

.main-menu.active {
    right: 0;
}

.main-menu_title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    color: #000000;
    margin-bottom: 24px;
}

.close-btn {
    display: block;
    width: 48px;
    height: 48px;
    background: url("../img/elements/close-btn.svg") center center / 12px
        no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.category-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.category-list_item {
    font-size: 14px;
    margin-bottom: 11px;
    color: #6f6e6e;
}

.category-list_item.title {
    color: #f16d7f;
    margin: 20px 0 12px;
}

.category-list_item a:hover {
    color: #000;
}

.page-top {
    height: calc(100vh - 75px);
    max-height: 764px;
    background: #f1e4e6;
    position: relative;
}

.page-top_img img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 800px;
    max-height: 764px;
    height: 100%;
}

.page-top_header {
    border-left: 12px solid #f16d7f;
    padding-left: 16px;
}

.page-top_header h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    color: #222222;
    margin: 0;
}

.page-top_header span {
    display: inline-block;
    font-weight: 700;
    font-size: 32px;
    color: #222222;
}

.page-top_header i {
    color: #f16d7f;
    font-style: normal;
}

.accent-box {
    padding-top: 65px;
}

.accent-box .row {
    --bs-gutter-x: 30px;
    --bs-gutter-y: 30px;
}

.accent-box_item {
    display: flex;
    position: relative;
}

.accent-box_item::after {
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(33, 22, 22, 0.7);
    position: absolute;
    top: 0;
    left: 0;
}

.accent-box_item .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.accent-box_item .title > span {
    font-size: 16px;
    text-align: center;
    color: #ffffff;
}

.accent-box_item .title > h2 {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #f16d7f;
}

.featured-box {
    padding: 96px 0;
}

.featured-box .row {
    --bs-gutter-x: 30px;
    --bs-gutter-y: 30px;
}

.product-card_img {
    position: relative;
    cursor: pointer;
}

.product-card_img .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% + 2px);
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 0;
    left: 0;
    transform: scale3d(0, 0, 0);
    transition: transform 0.3s ease;
}

.product-card:hover .overlay {
    transform: scale3d(1, 1, 1);
}

.product-card_btn {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    border: 1px solid #ffffff;
    background: url("../img/elements/cart-ico.svg") left 13px center / 26px 24px
            no-repeat,
        transparent;
    height: 43px;
    line-height: 43px;
    padding: 0 16px 0 50px;
}

.product-card_descr {
    display: flex;
    flex-direction: column;
    padding: 25px 29px 20px 16px;
    background: #f8f8f8;
}

.product-card_descr .title {
    font-weight: 400;
    font-size: 13px;
    color: #000000;
}

.product-card_descr p {
    font-weight: 300;
    font-size: 14px;
    color: #5d5d5d;
    padding: 13px 0 18px;
    margin: 0;
}

.product-card_descr .price {
    color: #f16d7f;
}
